@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Special+Elite);
/* ////////// Global ////////// */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Special Elite", cursive, serif;
  color: white;
  text-align: justify; }

body {
  background: url("../imgs/ZenBG-1.png");
  background-repeat: repeat; }

.packery {
  width: 90%; }

header h1 {
  font: bold 2.5em "Rock Salt", cursive, serif;
  color: #00a697;
  margin: 0 100px;
  display: inline-block; }

h2 {
  color: #00a697;
  text-align: center; }

/* ////////// Social Icons ////////// */
#social {
  float: right;
  margin-top: 10px; }

#social li {
  display: inline-block;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out; }

#social li:hover, #social li:active {
  transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
  -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg); }

.icons {
  height: 50px;
  width: 50px;
  margin: 0 20px; }

/* ////////// Instagram Library //////////*/
.instagram div {
  width: 250px;
  height: 250px;
  border: 4px solid #333;
  border-color: rgba(0, 0, 0, 0.3);
  margin: 5px;
  float: left; }

.instagram div:hover, .instagram div:active {
  border-color: #00a697; }

/* ////////// Packery ////////// */
.packery {
  max-width: 720px; }

/* clearfix */
.packery:after {
  content: ' ';
  display: block;
  clear: both; }

.item {
  width: 100px;
  height: 100px;
  float: left;
  background-color: rgba(34, 32, 34, 0.8);
  border: 4px solid #333;
  border-color: rgba(0, 0, 0, 0.3); }

.item img {
  height: 100%;
  width: 100%; }

.content:hover, .content:active {
  border-color: #00a697; }

.item.w2 {
  width: 200px; }

.item.h2 {
  height: 200px; }

.item.h3 {
  height: 300px; }

.item.w3 {
  width: 300px; }

.item.gigante {
  width: 800px;
  height: 600px;
  overflow: scroll; }

.hidden {
  display: none; }

.text {
  width: 600px;
  margin: 0 auto; }

.text img {
  display: block;
  height: 250px;
  width: 250px;
  margin: 0 auto;
  border: 4px solid #333;
  border-color: rgba(0, 0, 0, 0.3); }

/* //////////// Responsiveness ////////// */
@media screen and (max-width: 925px) {
  #social ul {
    padding: 0; } }
@media screen and (max-width: 875px) {
  header h1 {
    margin: 0 50px; } }
@media screen and (max-width: 850px) {
  .item.gigante {
    width: 600px; }

  .text {
    width: 400px; }

  .text iframe {
    width: 400px;
    height: 400px; } }
@media screen and (max-width: 790px) {
  header h1 {
    margin: 0 25px; } }
@media screen and (max-width: 750px) {
  #social {
    float: none;
    width: 100%; }

  #social li {
    margin: 20px 5%; } }
@media screen and (max-width: 650px) {
  .item.gigante {
    width: 400px; }

  .text {
    width: 300px; } }
@media screen and (max-width: 475px) {
  header h1 {
    font-size: 2em; } }
@media screen and (max-width: 425px) {
  .item.gigante {
    width: 300px; }

  .text {
    width: 200px; }

  .text img {
    width: 150px;
    height: 150px; } }
@media screen and (max-width: 400px) {
  header h1 {
    font-size: 1.7em; }

  #social li {
    margin: 10px 10px; }

  #services, #gallery {
    width: 300px; } }
@media screen and (max-width: 340px) {
  header h1 {
    font-size: 1.5em; }

  #social li {
    margin: 10px 5px; } }

/*# sourceMappingURL=main.css.map */
