@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Special+Elite);


/*////////// Global //////////*/

body {
	background: url(../imgs/zenbg.png);
}

#header h1 {
	font: bold 3em 'Rock Salt', cursive; ;
	color: rgb(0,166,151);
	text-align: center;
}

h2 {
	font: bold 1.5em 'Rock Salt', cursive, serif;
	color: rgb(0,166,151);
	text-align: center;
}

p {
	font-family: 'Special Elite', cursive, serif;
	color: white;
}

.item {

}